{% extends 'layouts/base.html' %} <br />
{% load static %} <br />
{% block content %}
<!-- Page Content  -->
<div id="content-page" class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div class="header-title">
              <h4 class="card-title" _msttexthash="8255910" _msthash="113">
                折線圖
              </h4>
            </div>
          </div>
          <div class="card-body" style="position: relative">
            <div id="apex-basic" style="min-height: 365px">
              <div
                id="apexchartsy30eashcl"
                class="apexcharts-canvas apexchartsy30eashcl light"
                style="width: 858px; height: 350px"
              >
                <svg
                  id="SvgjsSvg4871"
                  width="858"
                  height="350"
                  xmlns="http://www.w3.org/2000/svg"
                  version="1.1"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:svgjs="http://svgjs.com/svgjs"
                  class="apexcharts-svg"
                  xmlns:data="ApexChartsNS"
                  transform="translate(0, 0)"
                  style="background: transparent"
                >
                  <g
                    id="SvgjsG4873"
                    class="apexcharts-inner apexcharts-graphical"
                    transform="translate(55.359375, 55.5)"
                  >
                    <defs id="SvgjsDefs4872">
                      <clipPath id="gridRectMasky30eashcl">
                        <rect
                          id="SvgjsRect4879"
                          width="785.96484375"
                          height="257.657"
                          x="-2.5"
                          y="-2.5"
                          rx="0"
                          ry="0"
                          fill="#ffffff"
                          opacity="1"
                          stroke-width="0"
                          stroke="none"
                          stroke-dasharray="0"
                        ></rect>
                      </clipPath>
                      <clipPath id="gridRectMarkerMasky30eashcl">
                        <rect
                          id="SvgjsRect4880"
                          width="782.96484375"
                          height="254.65699999999998"
                          x="-1"
                          y="-1"
                          rx="0"
                          ry="0"
                          fill="#ffffff"
                          opacity="1"
                          stroke-width="0"
                          stroke="none"
                          stroke-dasharray="0"
                        ></rect>
                      </clipPath>
                    </defs>
                    <line
                      id="SvgjsLine4878"
                      x1="0"
                      y1="0"
                      x2="0"
                      y2="252.65699999999998"
                      stroke="#b6b6b6"
                      stroke-dasharray="3"
                      class="apexcharts-xcrosshairs"
                      x="0"
                      y="0"
                      width="1"
                      height="252.65699999999998"
                      fill="#b1b9c4"
                      filter="none"
                      fill-opacity="0.9"
                      stroke-width="1"
                    ></line>
                    <g
                      id="SvgjsG4887"
                      class="apexcharts-xaxis"
                      transform="translate(0, 0)"
                    >
                      <g
                        id="SvgjsG4888"
                        class="apexcharts-xaxis-texts-g"
                        transform="translate(0, -4)"
                      >
                        <text
                          id="SvgjsText4889"
                          font-family="Helvetica, Arial, sans-serif"
                          x="0"
                          y="281.657"
                          text-anchor="middle"
                          dominant-baseline="auto"
                          font-size="12px"
                          font-weight="400"
                          fill="#373d3f"
                          class="apexcharts-xaxis-label"
                          style="font-family: Helvetica, Arial, sans-serif"
                          _mstTextHash="70343"
                          _mstHash="1790"
                        >
                          <tspan
                            id="SvgjsTspan4890"
                            style="font-family: Helvetica, Arial, sans-serif"
                          >
                            Jan
                          </tspan>
                          <title>Jan</title>
                        </text>
                        <text
                          id="SvgjsText4891"
                          font-family="Helvetica, Arial, sans-serif"
                          x="97.62060546875"
                          y="281.657"
                          text-anchor="middle"
                          dominant-baseline="auto"
                          font-size="12px"
                          font-weight="400"
                          fill="#373d3f"
                          class="apexcharts-xaxis-label"
                          style="font-family: Helvetica, Arial, sans-serif"
                          _mstTextHash="67171"
                          _mstHash="1789"
                        >
                          <tspan
                            id="SvgjsTspan4892"
                            style="font-family: Helvetica, Arial, sans-serif"
                          >
                            Feb
                          </tspan>
                          <title>Feb</title>
                        </text>
                        <text
                          id="SvgjsText4893"
                          font-family="Helvetica, Arial, sans-serif"
                          x="195.2412109375"
                          y="281.657"
                          text-anchor="middle"
                          dominant-baseline="auto"
                          font-size="12px"
                          font-weight="400"
                          fill="#373d3f"
                          class="apexcharts-xaxis-label"
                          style="font-family: Helvetica, Arial, sans-serif"
                          _mstTextHash="72098"
                          _mstHash="1788"
                        >
                          <tspan
                            id="SvgjsTspan4894"
                            style="font-family: Helvetica, Arial, sans-serif"
                          >
                            Mar
                          </tspan>
                          <title>Mar</title>
                        </text>
                        <text
                          id="SvgjsText4895"
                          font-family="Helvetica, Arial, sans-serif"
                          x="292.86181640625"
                          y="281.657"
                          text-anchor="middle"
                          dominant-baseline="auto"
                          font-size="12px"
                          font-weight="400"
                          fill="#373d3f"
                          class="apexcharts-xaxis-label"
                          style="font-family: Helvetica, Arial, sans-serif"
                          _mstTextHash="73151"
                          _mstHash="1787"
                        >
                          <tspan
                            id="SvgjsTspan4896"
                            style="font-family: Helvetica, Arial, sans-serif"
                          >
                            Apr
                          </tspan>
                          <title>Apr</title>
                        </text>
                        <text
                          id="SvgjsText4897"
                          font-family="Helvetica, Arial, sans-serif"
                          x="390.482421875"
                          y="281.657"
                          text-anchor="middle"
                          dominant-baseline="auto"
                          font-size="12px"
                          font-weight="400"
                          fill="#373d3f"
                          class="apexcharts-xaxis-label"
                          style="font-family: Helvetica, Arial, sans-serif"
                          _mstTextHash="74009"
                          _mstHash="1786"
                        >
                          <tspan
                            id="SvgjsTspan4898"
                            style="font-family: Helvetica, Arial, sans-serif"
                          >
                            May
                          </tspan>
                          <title>May</title>
                        </text>
                        <text
                          id="SvgjsText4899"
                          font-family="Helvetica, Arial, sans-serif"
                          x="488.10302734375"
                          y="281.657"
                          text-anchor="middle"
                          dominant-baseline="auto"
                          font-size="12px"
                          font-weight="400"
                          fill="#373d3f"
                          class="apexcharts-xaxis-label"
                          style="font-family: Helvetica, Arial, sans-serif"
                          _mstTextHash="75283"
                          _mstHash="1785"
                        >
                          <tspan
                            id="SvgjsTspan4900"
                            style="font-family: Helvetica, Arial, sans-serif"
                          >
                            Jun
                          </tspan>
                          <title>Jun</title>
                        </text>
                        <text
                          id="SvgjsText4901"
                          font-family="Helvetica, Arial, sans-serif"
                          x="585.7236328125"
                          y="281.657"
                          text-anchor="middle"
                          dominant-baseline="auto"
                          font-size="12px"
                          font-weight="400"
                          fill="#373d3f"
                          class="apexcharts-xaxis-label"
                          style="font-family: Helvetica, Arial, sans-serif"
                          _mstTextHash="74737"
                          _mstHash="1784"
                        >
                          <tspan
                            id="SvgjsTspan4902"
                            style="font-family: Helvetica, Arial, sans-serif"
                          >
                            Jul
                          </tspan>
                          <title>Jul</title>
                        </text>
                        <text
                          id="SvgjsText4903"
                          font-family="Helvetica, Arial, sans-serif"
                          x="683.34423828125"
                          y="281.657"
                          text-anchor="middle"
                          dominant-baseline="auto"
                          font-size="12px"
                          font-weight="400"
                          fill="#373d3f"
                          class="apexcharts-xaxis-label"
                          style="font-family: Helvetica, Arial, sans-serif"
                          _mstTextHash="71383"
                          _mstHash="1783"
                        >
                          <tspan
                            id="SvgjsTspan4904"
                            style="font-family: Helvetica, Arial, sans-serif"
                          >
                            Aug
                          </tspan>
                          <title>Aug</title>
                        </text>
                        <text
                          id="SvgjsText4905"
                          font-family="Helvetica, Arial, sans-serif"
                          x="780.96484375"
                          y="281.657"
                          text-anchor="middle"
                          dominant-baseline="auto"
                          font-size="12px"
                          font-weight="400"
                          fill="#373d3f"
                          class="apexcharts-xaxis-label"
                          style="font-family: Helvetica, Arial, sans-serif"
                          _mstTextHash="73866"
                          _mstHash="1782"
                        >
                          <tspan
                            id="SvgjsTspan4906"
                            style="font-family: Helvetica, Arial, sans-serif"
                          >
                            Sep
                          </tspan>
                          <title>Sep</title>
                        </text>
                      </g>
                      <line
                        id="SvgjsLine4907"
                        x1="0"
                        y1="253.65699999999998"
                        x2="780.96484375"
                        y2="253.65699999999998"
                        stroke="#78909c"
                        stroke-dasharray="0"
                        stroke-width="1"
                      ></line>
                    </g>
                    <g id="SvgjsG4916" class="apexcharts-grid">
                      <g
                        id="SvgjsG4917"
                        class="apexcharts-gridlines-horizontal"
                      >
                        <line
                          id="SvgjsLine4926"
                          x1="0"
                          y1="0"
                          x2="780.96484375"
                          y2="0"
                          stroke="#e0e0e0"
                          stroke-dasharray="0"
                          class="apexcharts-gridline"
                        ></line>
                        <line
                          id="SvgjsLine4927"
                          x1="0"
                          y1="50.5314"
                          x2="780.96484375"
                          y2="50.5314"
                          stroke="#e0e0e0"
                          stroke-dasharray="0"
                          class="apexcharts-gridline"
                        ></line>
                        <line
                          id="SvgjsLine4928"
                          x1="0"
                          y1="101.0628"
                          x2="780.96484375"
                          y2="101.0628"
                          stroke="#e0e0e0"
                          stroke-dasharray="0"
                          class="apexcharts-gridline"
                        ></line>
                        <line
                          id="SvgjsLine4929"
                          x1="0"
                          y1="151.5942"
                          x2="780.96484375"
                          y2="151.5942"
                          stroke="#e0e0e0"
                          stroke-dasharray="0"
                          class="apexcharts-gridline"
                        ></line>
                        <line
                          id="SvgjsLine4930"
                          x1="0"
                          y1="202.1256"
                          x2="780.96484375"
                          y2="202.1256"
                          stroke="#e0e0e0"
                          stroke-dasharray="0"
                          class="apexcharts-gridline"
                        ></line>
                        <line
                          id="SvgjsLine4931"
                          x1="0"
                          y1="252.65699999999998"
                          x2="780.96484375"
                          y2="252.65699999999998"
                          stroke="#e0e0e0"
                          stroke-dasharray="0"
                          class="apexcharts-gridline"
                        ></line>
                      </g>
                      <g
                        id="SvgjsG4918"
                        class="apexcharts-gridlines-vertical"
                      ></g>
                      <line
                        id="SvgjsLine4919"
                        x1="97.62060546875"
                        y1="253.65699999999998"
                        x2="97.62060546875"
                        y2="259.657"
                        stroke="#78909c"
                        stroke-dasharray="0"
                        class="apexcharts-xaxis-tick"
                      ></line>
                      <line
                        id="SvgjsLine4920"
                        x1="195.2412109375"
                        y1="253.65699999999998"
                        x2="195.2412109375"
                        y2="259.657"
                        stroke="#78909c"
                        stroke-dasharray="0"
                        class="apexcharts-xaxis-tick"
                      ></line>
                      <line
                        id="SvgjsLine4921"
                        x1="292.86181640625"
                        y1="253.65699999999998"
                        x2="292.86181640625"
                        y2="259.657"
                        stroke="#78909c"
                        stroke-dasharray="0"
                        class="apexcharts-xaxis-tick"
                      ></line>
                      <line
                        id="SvgjsLine4922"
                        x1="390.482421875"
                        y1="253.65699999999998"
                        x2="390.482421875"
                        y2="259.657"
                        stroke="#78909c"
                        stroke-dasharray="0"
                        class="apexcharts-xaxis-tick"
                      ></line>
                      <line
                        id="SvgjsLine4923"
                        x1="488.10302734375"
                        y1="253.65699999999998"
                        x2="488.10302734375"
                        y2="259.657"
                        stroke="#78909c"
                        stroke-dasharray="0"
                        class="apexcharts-xaxis-tick"
                      ></line>
                      <line
                        id="SvgjsLine4924"
                        x1="585.7236328125"
                        y1="253.65699999999998"
                        x2="585.7236328125"
                        y2="259.657"
                        stroke="#78909c"
                        stroke-dasharray="0"
                        class="apexcharts-xaxis-tick"
                      ></line>
                      <line
                        id="SvgjsLine4925"
                        x1="683.34423828125"
                        y1="253.65699999999998"
                        x2="683.34423828125"
                        y2="259.657"
                        stroke="#78909c"
                        stroke-dasharray="0"
                        class="apexcharts-xaxis-tick"
                      ></line>
                      <rect
                        id="SvgjsRect4932"
                        width="780.96484375"
                        height="50.5314"
                        x="0"
                        y="0"
                        rx="0"
                        ry="0"
                        fill="#f3f3f3"
                        opacity="0.5"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        class="apexcharts-gridRow"
                      ></rect>
                      <rect
                        id="SvgjsRect4933"
                        width="780.96484375"
                        height="50.5314"
                        x="0"
                        y="50.5314"
                        rx="0"
                        ry="0"
                        fill="transparent"
                        opacity="0.5"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        class="apexcharts-gridRow"
                      ></rect>
                      <rect
                        id="SvgjsRect4934"
                        width="780.96484375"
                        height="50.5314"
                        x="0"
                        y="101.0628"
                        rx="0"
                        ry="0"
                        fill="#f3f3f3"
                        opacity="0.5"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        class="apexcharts-gridRow"
                      ></rect>
                      <rect
                        id="SvgjsRect4935"
                        width="780.96484375"
                        height="50.5314"
                        x="0"
                        y="151.5942"
                        rx="0"
                        ry="0"
                        fill="transparent"
                        opacity="0.5"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        class="apexcharts-gridRow"
                      ></rect>
                      <rect
                        id="SvgjsRect4936"
                        width="780.96484375"
                        height="50.5314"
                        x="0"
                        y="202.1256"
                        rx="0"
                        ry="0"
                        fill="#f3f3f3"
                        opacity="0.5"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        class="apexcharts-gridRow"
                      ></rect>
                      <line
                        id="SvgjsLine4938"
                        x1="0"
                        y1="252.65699999999998"
                        x2="780.96484375"
                        y2="252.65699999999998"
                        stroke="transparent"
                        stroke-dasharray="0"
                      ></line>
                      <line
                        id="SvgjsLine4937"
                        x1="0"
                        y1="1"
                        x2="0"
                        y2="252.65699999999998"
                        stroke="transparent"
                        stroke-dasharray="0"
                      ></line>
                    </g>
                    <g
                      id="SvgjsG4882"
                      class="apexcharts-line-series apexcharts-plot-series"
                    >
                      <g
                        id="SvgjsG4883"
                        class="apexcharts-series"
                        seriesName="Desktops"
                        data:longestSeries="true"
                        rel="1"
                        data:realIndex="0"
                      >
                        <path
                          id="SvgjsPath4886"
                          d="M 0 235.8132L 97.62060546875 183.59742L 195.2412109375 193.70369999999997L 292.86181640625 166.75361999999998L 390.482421875 170.12238L 488.10302734375 148.22544L 585.7236328125 136.43478L 683.34423828125 99.37842L 780.96484375 3.368760000000009"
                          fill="none"
                          fill-opacity="1"
                          stroke="rgba(71,136,255,0.85)"
                          stroke-opacity="1"
                          stroke-linecap="butt"
                          stroke-width="5"
                          stroke-dasharray="0"
                          class="apexcharts-line"
                          index="0"
                          clip-path="url(#gridRectMasky30eashcl)"
                          pathTo="M 0 235.8132L 97.62060546875 183.59742L 195.2412109375 193.70369999999997L 292.86181640625 166.75361999999998L 390.482421875 170.12238L 488.10302734375 148.22544L 585.7236328125 136.43478L 683.34423828125 99.37842L 780.96484375 3.368760000000009"
                          pathFrom="M -1 252.65699999999998L -1 252.65699999999998L 97.62060546875 252.65699999999998L 195.2412109375 252.65699999999998L 292.86181640625 252.65699999999998L 390.482421875 252.65699999999998L 488.10302734375 252.65699999999998L 585.7236328125 252.65699999999998L 683.34423828125 252.65699999999998L 780.96484375 252.65699999999998"
                        ></path>
                        <g
                          id="SvgjsG4884"
                          class="apexcharts-series-markers-wrap"
                        >
                          <g class="apexcharts-series-markers">
                            <circle
                              id="SvgjsCircle4944"
                              r="0"
                              cx="0"
                              cy="0"
                              class="apexcharts-marker wz1dwrfrp no-pointer-events"
                              stroke="#ffffff"
                              fill="#4788ff"
                              fill-opacity="1"
                              stroke-width="2"
                              stroke-opacity="0.9"
                              default-marker-size="0"
                            ></circle>
                          </g>
                        </g>
                        <g id="SvgjsG4885" class="apexcharts-datalabels"></g>
                      </g>
                    </g>
                    <line
                      id="SvgjsLine4939"
                      x1="0"
                      y1="0"
                      x2="780.96484375"
                      y2="0"
                      stroke="#b6b6b6"
                      stroke-dasharray="0"
                      stroke-width="1"
                      class="apexcharts-ycrosshairs"
                    ></line>
                    <line
                      id="SvgjsLine4940"
                      x1="0"
                      y1="0"
                      x2="780.96484375"
                      y2="0"
                      stroke-dasharray="0"
                      stroke-width="0"
                      class="apexcharts-ycrosshairs-hidden"
                    ></line>
                    <g id="SvgjsG4941" class="apexcharts-yaxis-annotations"></g>
                    <g id="SvgjsG4942" class="apexcharts-xaxis-annotations"></g>
                    <g id="SvgjsG4943" class="apexcharts-point-annotations"></g>
                  </g>
                  <text
                    id="SvgjsText4874"
                    font-family="Helvetica, Arial, sans-serif"
                    x="10"
                    y="16"
                    text-anchor="start"
                    dominant-baseline="auto"
                    font-size="14px"
                    font-weight="regular"
                    fill="#373d3f"
                    style="
                      font-family: Helvetica, Arial, sans-serif;
                      opacity: 1;
                    "
                    class="apexcharts-title-text"
                    _mstTextHash="452439"
                    _mstHash="1794"
                  >
                    Product Trends by Month
                  </text>
                  <rect
                    id="SvgjsRect4877"
                    width="0"
                    height="0"
                    x="0"
                    y="0"
                    rx="0"
                    ry="0"
                    fill="#fefefe"
                    opacity="1"
                    stroke-width="0"
                    stroke="none"
                    stroke-dasharray="0"
                  ></rect>
                  <g
                    id="SvgjsG4908"
                    class="apexcharts-yaxis"
                    rel="0"
                    transform="translate(22.359375, 0)"
                  >
                    <g id="SvgjsG4909" class="apexcharts-yaxis-texts-g">
                      <text
                        id="SvgjsText4910"
                        font-family="Helvetica, Arial, sans-serif"
                        x="20"
                        y="57"
                        text-anchor="end"
                        dominant-baseline="auto"
                        font-size="11px"
                        font-weight="regular"
                        fill="#373d3f"
                        class="apexcharts-yaxis-label"
                        style="font-family: Helvetica, Arial, sans-serif"
                        _mstTextHash="15587"
                        _mstHash="1781"
                      >
                        150
                      </text>
                      <text
                        id="SvgjsText4911"
                        font-family="Helvetica, Arial, sans-serif"
                        x="20"
                        y="107.6314"
                        text-anchor="end"
                        dominant-baseline="auto"
                        font-size="11px"
                        font-weight="regular"
                        fill="#373d3f"
                        class="apexcharts-yaxis-label"
                        style="font-family: Helvetica, Arial, sans-serif"
                        _mstTextHash="15275"
                        _mstHash="1780"
                      >
                        120
                      </text>
                      <text
                        id="SvgjsText4912"
                        font-family="Helvetica, Arial, sans-serif"
                        x="20"
                        y="158.2628"
                        text-anchor="end"
                        dominant-baseline="auto"
                        font-size="11px"
                        font-weight="regular"
                        fill="#373d3f"
                        class="apexcharts-yaxis-label"
                        style="font-family: Helvetica, Arial, sans-serif"
                        _mstTextHash="10179"
                        _mstHash="1779"
                      >
                        90
                      </text>
                      <text
                        id="SvgjsText4913"
                        font-family="Helvetica, Arial, sans-serif"
                        x="20"
                        y="208.8942"
                        text-anchor="end"
                        dominant-baseline="auto"
                        font-size="11px"
                        font-weight="regular"
                        fill="#373d3f"
                        class="apexcharts-yaxis-label"
                        style="font-family: Helvetica, Arial, sans-serif"
                        _mstTextHash="9906"
                        _mstHash="1778"
                      >
                        60
                      </text>
                      <text
                        id="SvgjsText4914"
                        font-family="Helvetica, Arial, sans-serif"
                        x="20"
                        y="259.5256"
                        text-anchor="end"
                        dominant-baseline="auto"
                        font-size="11px"
                        font-weight="regular"
                        fill="#373d3f"
                        class="apexcharts-yaxis-label"
                        style="font-family: Helvetica, Arial, sans-serif"
                        _mstTextHash="9633"
                        _mstHash="1777"
                      >
                        30
                      </text>
                      <text
                        id="SvgjsText4915"
                        font-family="Helvetica, Arial, sans-serif"
                        x="20"
                        y="310.157"
                        text-anchor="end"
                        dominant-baseline="auto"
                        font-size="11px"
                        font-weight="regular"
                        fill="#373d3f"
                        class="apexcharts-yaxis-label"
                        style="font-family: Helvetica, Arial, sans-serif"
                        _mstTextHash="4368"
                        _mstHash="1776"
                      >
                        0
                      </text>
                    </g>
                  </g>
                </svg>
                <div class="apexcharts-legend"></div>
                <div class="apexcharts-tooltip light">
                  <div
                    class="apexcharts-tooltip-title"
                    style="
                      font-family: Helvetica, Arial, sans-serif;
                      font-size: 12px;
                    "
                  ></div>
                  <div class="apexcharts-tooltip-series-group">
                    <span
                      class="apexcharts-tooltip-marker"
                      style="background-color: rgb(71, 136, 255)"
                    ></span>
                    <div
                      class="apexcharts-tooltip-text"
                      style="
                        font-family: Helvetica, Arial, sans-serif;
                        font-size: 12px;
                      "
                    >
                      <div class="apexcharts-tooltip-y-group">
                        <span class="apexcharts-tooltip-text-label"></span
                        ><span class="apexcharts-tooltip-text-value"></span>
                      </div>
                      <div class="apexcharts-tooltip-z-group">
                        <span class="apexcharts-tooltip-text-z-label"></span
                        ><span class="apexcharts-tooltip-text-z-value"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom light"
                >
                  <div
                    class="apexcharts-xaxistooltip-text"
                    style="
                      font-family: Helvetica, Arial, sans-serif;
                      font-size: 12px;
                    "
                  ></div>
                </div>
                <div class="apexcharts-toolbar">
                  <div class="apexcharts-menu-icon" title="Menu">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    >
                      <path fill="none" d="M0 0h24v24H0V0z"></path>
                      <path
                        d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"
                      ></path>
                    </svg>
                  </div>
                  <div class="apexcharts-menu">
                    <div
                      class="apexcharts-menu-item exportSVG"
                      title="Download SVG"
                      _msttexthash="163072"
                      _msthash="1775"
                    >
                      Download SVG
                    </div>
                    <div
                      class="apexcharts-menu-item exportPNG"
                      title="Download PNG"
                      _msttexthash="160823"
                      _msthash="1774"
                    >
                      Download PNG
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="resize-triggers">
              <div class="expand-trigger">
                <div style="width: 899px; height: 406px"></div>
              </div>
              <div class="contract-trigger"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
