{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="content-page">
  <div class="container-fluid">
    <!-- Page Content -->
    <div class="row">
      {% for chapter in chapters %}
      <div class="col-lg-4 col-md-6">
        <div class="card card-block card-stretch card-height">
          <div class="card-body">
            
            <h5 class="card-title">{{ chapter.title }}</h5>
            <p class="card-text">{{ chapter.content|truncatewords:30 }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <span class="badge badge-secondary">Chapter {{ chapter.number }}</span>
              <a href="#" class="btn btn-primary">More Details</a>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col-12">
        <p>No chapters available.</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
