{% extends 'layouts/base.html' %} <br />
{% load static %} <br />
{% block content %}
<!-- Page Content  -->
<div id="content-page" class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="iq-card">
          <div class="iq-card-body chat-page p-0">
            <div class="chat-data-block">
              <div class="row">
                <div class="col-lg-6 chat scroller">
                  <div class="chat-sidebar-channel scroller mt-4">
                    <ul
                      class="nav nav-pills mb-3 nav-fill"
                      id="pills-tab-1"
                      role="tablist"
                    >
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          id="pills-home-tab-fill"
                          data-toggle="pill"
                          href="#code-container"
                          role="tab"
                          aria-controls="pills-home"
                          aria-selected="false"
                          _msttexthash="2136498"
                          _msthash="165"
                          >提交程式碼</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          id="pills-profile-tab-fill"
                          data-toggle="pill"
                          href="#pills-profile-fill"
                          role="tab"
                          aria-controls="pills-profile"
                          aria-selected="true"
                          _msttexthash="5859750"
                          _msthash="166"
                          >程式碼評分</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          id="pills-contact-tab-fill"
                          data-toggle="pill"
                          href="#pills-contact-fill"
                          role="tab"
                          aria-controls="pills-contact"
                          aria-selected="false"
                          _msttexthash="6357741"
                          _msthash="167"
                          >其他評分</a
                        >
                      </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent-1">
                      <div
                        class="tab-pane fade"
                        id="code-container"
                        role="tabpanel"
                        aria-labelledby="pills-home-tab-fill"
                      >
                        {% comment %} {% include 'client/chatbot/code.html' %}
                        {% endcomment %}
                        <pre><code class="language-python" id="code-container">
                          {{ chatbot.formatted_code|safe }}
                      </code></pre>
                      </div>
                      <div
                        class="tab-pane show active"
                        id="pills-profile-fill"
                        role="tabpanel"
                        aria-labelledby="pills-profile-tab-fill"
                      >
                        <div class="row">
                          <div class="col-sm-12">
                            {% include 'client/dashboard/python_dashboard/code_rating.html' %}
                          </div>
                          <div class="col-sm-12">
                            {% include 'client/dashboard/python_dashboard/radar_multiple.html' %}
                          </div>
                        </div>
                      </div>
                      <div
                        class="tab-pane fade"
                        id="pills-contact-fill"
                        role="tabpanel"
                        aria-labelledby="pills-contact-tab-fill"
                      >
                        <p>聯繫</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 chat-data p-0 chat-data-right">
                  <div class="chat-head">
                    <header
                      class="d-flex justify-content-between align-items-center bg-white pt-3 pr-3 pb-3"
                    >
                      <div class="d-flex align-items-center">
                        <div id="sidebar-toggle" class="sidebar-toggle">
                          <i class="ri-menu-3-line"></i>
                        </div>
                        <div class="avatar chat-user-profile m-0 mr-3">
                          <img
                            src="{% static 'images/user/05.jpg' %}"
                            alt="avatar"
                            class="avatar-50"
                          />
                          <span class="avatar-status"
                            ><i
                              class="ri-checkbox-blank-circle-fill text-success"
                            ></i
                          ></span>
                        </div>
                        <input
                          type="hidden"
                          id="chatbotId"
                          value="{{ chatbot.id }}"
                        />
                        <h5 class="mb-0">
                          {{chatbot.account.username}}-{{chatbot.chapter.title}}
                        </h5>
                      </div>
                      <div
                        id="chat-user-detail-popup"
                        class="scroller"
                        class="scroller"
                      >
                        <div class="user-profile text-center">
                          <button type="submit" class="close-popup p-3">
                            <i class="ri-close-fill"></i>
                          </button>
                          <div class="user mb-4">
                            <a class="avatar m-0">
                              <img
                                src="{% static 'images/user/05.jpg' %}"
                                alt="avatar"
                              />
                            </a>
                            <div class="user-name mt-4">
                              <h4>Nik Jordan</h4>
                            </div>
                            <div class="user-desc">
                              <p>Cape Town, RSA</p>
                            </div>
                          </div>
                          <hr />
                          <div class="chatuser-detail text-left mt-4">
                            <div class="row">
                              <div class="col-6 col-md-6 title">Nik Name:</div>
                              <div class="col-6 col-md-6 text-right">Nik</div>
                            </div>
                            <hr />
                            <div class="row">
                              <div class="col-6 col-md-6 title">Tel:</div>
                              <div class="col-6 col-md-6 text-right">
                                072 143 9920
                              </div>
                            </div>
                            <hr />
                            <div class="row">
                              <div class="col-6 col-md-6 title">
                                Date Of Birth:
                              </div>
                              <div class="col-6 col-md-6 text-right">
                                July 12, 1989
                              </div>
                            </div>
                            <hr />
                            <div class="row">
                              <div class="col-6 col-md-6 title">Gender:</div>
                              <div class="col-6 col-md-6 text-right">Male</div>
                            </div>
                            <hr />
                            <div class="row">
                              <div class="col-6 col-md-6 title">Language:</div>
                              <div class="col-6 col-md-6 text-right">
                                English
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="chat-header-icons d-flex">
                        <a href="javascript:void();" class="chat-icon-phone">
                          <i class="ri-phone-line"></i>
                        </a>
                        <a href="javascript:void();" class="chat-icon-video">
                          <i class="ri-vidicon-line"></i>
                        </a>
                        <a
                          href="javascript:void();"
                          class="chat-icon-delete"
                          id="updateThreadsButton"
                        >
                          <i class="ri-delete-bin-line"></i>
                        </a>
                        <span class="dropdown">
                          <i
                            class="ri-more-2-line cursor-pointer dropdown-toggle nav-hide-arrow cursor-pointer pr-0"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            role="menu"
                          ></i>
                          <span
                            class="dropdown-menu dropdown-menu-right"
                            aria-labelledby="dropdownMenuButton"
                          >
                            <a class="dropdown-item" href="JavaScript:void(0);"
                              ><i
                                class="fa fa-thumb-tack"
                                aria-hidden="true"
                              ></i>
                              Pin to top</a
                            >
                            <a class="dropdown-item" href="JavaScript:void(0);"
                              ><i class="fa fa-trash-o" aria-hidden="true"></i>
                              Delete chat</a
                            >
                            <a class="dropdown-item" href="JavaScript:void(0);"
                              ><i class="fa fa-ban" aria-hidden="true"></i>
                              Block</a
                            >
                          </span>
                        </span>
                      </div>
                    </header>
                  </div>
                  <div class="chat-content scroller"></div>
                  <div class="chat-footer p-3 bg-white">
                    <form
                      class="d-flex align-items-center"
                      action="javascript:void(0);"
                    >
                      <div class="chat-attagement d-flex">
                        <a href="javascript:void();"
                          ><i
                            class="fa fa-microphone pr-3"
                            id="trigger"
                            aria-hidden="true"
                          ></i>
                        </a>
                      </div>

                      <input
                        type="text"
                        class="form-control mr-3"
                        id="target"
                        placeholder="請輸入內容"
                      />
                      <button
                        button
                        type="submit"
                        id="sendButton"
                        class="btn btn-primary d-flex align-items-center p-2"
                      >
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i
                        ><span class="d-none d-lg-block ml-1">提交</span>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      init();

      //https://ppcode.net/blog/zh-tw/post/implement-syntax-highlighting-one-click-copy-button-using-highlight-js
      function init() {
        //loadCode();
        initHljs();
        const chatbotId = $("#chatbotId").val();
        fetchAndDisplayMessages(chatbotId);
        setRocognition();
      }
      function initHljs() {
        hljs.initHighlighting.called = false;
        hljs.initHighlighting();
        hljs.highlightAll();
        hljs.initLineNumbersOnLoad();
        hljs.addPlugin(new CopyButtonPlugin());
      }
      function loadCode() {
        var hardcodedCode = `
def say_hello():
    for i in range(5):
        print("Hello, world
say_hello()
            `;
        $("#code-container").text(hardcodedCode);
      }
      function setRocognition() {
        // 檢查瀏覽器是否支持SpeechRecognition API
        window.SpeechRecognition =
          window.SpeechRecognition || window.webkitSpeechRecognition;

        if (typeof window.SpeechRecognition === "undefined") {
          alert("您的瀏覽器不支持語音識別功能。");
        } else {
          const recognition = new SpeechRecognition();
          recognition.lang = "zh-TW"; // 設定語言
          recognition.interimResults = false; // 是否返回臨時結果
          let isRecording = false;

          recognition.onresult = function (event) {
            const transcript = event.results[0][0].transcript; // 獲取識別結果
            $("#target").val(transcript); // 將結果填入輸入框
            toggleRecording(); // 結束後切換icon
          };

          recognition.onerror = function (event) {
            console.error("語音識別錯誤:", event.error);
            toggleRecording(); // 發生錯誤時切換icon
          };

          $("#trigger").on("click", function () {
            if (isRecording) {
              recognition.stop(); // 停止識別
              toggleRecording(); // 切換icon
            } else {
              recognition.start(); // 開始識別
              toggleRecording(); // 切換icon
            }
          });

          function toggleRecording() {
            isRecording = !isRecording;
            if (isRecording) {
              $("#trigger").removeClass("fa-microphone").addClass("fa-stop");
            } else {
              $("#trigger").removeClass("fa-stop").addClass("fa-microphone");
            }
          }
        }
      }
      // 添加消息到聊天界面
      // 格式化時間為 HH:MM 格式
      function formattedTime(date) {
        return `${date.getHours()}:${date.getMinutes().toString().padStart(2, "0")}`;
      }

      function fetchAndDisplayMessages(chatbotId) {
        $.ajax({
          url: "{% url 'api_get_message_by_chatbot_id' %}",
          type: "GET",
          data: { chatbot_id: chatbotId },
          dataType: "json", // 預期從服務器返回 JSON 數據
          success: function (response) {
            const chatContainer = $(".chat-content");
            chatContainer.empty(); // 清空當前內容，準備顯示新消息

            response.forEach(function (message) {
              const createdAt = new Date(message.created_at);
              const messageElement = appendMessage(
                message.role,
                '{% static "images/user/1.jpg" %}',
                formattedTime(createdAt),
                (messageText = message.content)
              );
              chatContainer.append(messageElement);
            });
            chatContainer.scrollTop(chatContainer.prop("scrollHeight")); // 滾動到最底部
          },
          error: function (xhr, status, error) {
            alert("無法從伺服器獲取消息：" + error);
          },
        });
      }
      // 封裝的 AJAX 請求函數
      function sendChatRequest(message, onSuccess, onError) {
        const chatbotId = $("#chatbotId").val(); // 獲取聊天機器人的 ID

        $.ajax({
          url: "{% url 'api_chat_with_bot' %}",
          type: "POST",
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            message: message,
            chatbot_id: chatbotId,
          },
          success: onSuccess, // 使用回調函數處理成功情況
          error: onError, // 使用回調函數處理錯誤情況
        });
      }

      // 處理發送消息的功能
      function sendMessage(message) {
        const chatContainer = $(".chat-content");
        const now = new Date();
        const userMessage = appendMessage(
          "user",
          '{% static "images/user/1.jpg" %}',
          formattedTime(now),
          (messageText = message)
        );

        chatContainer.append(userMessage);
        chatContainer.scrollTop(chatContainer.prop("scrollHeight"));
        // 延迟 0.5 秒后滚动到聊天容器的底部
        setTimeout(function () {
          chatContainer.append(loadingMessage());
          chatContainer.scrollTop(chatContainer.prop("scrollHeight"));
        }, 1000);

        // 顯示加載動畫

        sendChatRequest(
          message,
          function (response) {
            $("#loadingMessage").remove();
            // 确保是针对 response.data 数组使用 forEach
            response.data.forEach(function(data) {
              const createdAt = new Date(data.created_at);
              const botMessage = appendMessage(
                data.role,
                '{% static "images/user/05.jpg" %}',  // 假设这是机器人的头像
                formattedTime(createdAt),
                data.content
              );
              speak(data.content);
              chatContainer.append(botMessage);
            });
            chatContainer.scrollTop(chatContainer.prop("scrollHeight"));
          },
          function (xhr, status, error) {
            alert("AJAX 錯誤: " + error);
            console.error("AJAX 錯誤:", error);
          }
        );
      }

      $("form").submit(function (e) {
        e.preventDefault();
        const message = $('input[type="text"]').val();
        if (message.trim() !== "") {
          sendMessage(message);
          $('input[type="text"]').val("");
        }
      });

      function loadingMessage() {
        const cards = getCardsData();
        const totalWeight = calculateTotalWeight(cards);
        const selectedCard = selectCardByWeight(cards, totalWeight);
        const messageText = generateMessageText(selectedCard);
        const randomImage = chooseRandomImage();
        const time = formattedTime(new Date());
        const imageMessage = generateImageMessage(randomImage, time);
        const textMessage = generateTextMessage(messageText, time);
        return appendMessages(imageMessage, textMessage);
      }

      //TODO:從後端獲取
      function getCardsData() {
        return [
          {
            name: "中央大學",
            rarity: "⭐⭐⭐",
            fortune:
              "國立中央大學是一所積極新創、學科齊全、學術實力雄厚、辦學特色鮮明，在國際上具有重要影響力與競爭力的綜合性大學，在多個學術領域具有非常前瞻的科技實力，擁有世界一流的實驗室與師資力量，各種排名均位於全球前列。歡迎大家報考國立中央大學。",
            luck: "大凶",
            weight: 4, // 更稀有，权重较低
          },
          {
            name: "裝剩蚊",
            rarity: "⭐⭐⭐⭐⭐",
            fortune:
              "國立中央大學是一所積極新創、學科齊全、學術實力雄厚、辦學特色鮮明，在國際上具有重要影響力與競爭力的綜合性大學，在多個學術領域具有非常前瞻的科技實力，擁有世界一流的實驗室與師資力量，各種排名均位於全球前列。歡迎大家報考國立中央大學。",
            luck: "大凶",
            weight: 1, // 更稀有，权重较低
          },
          {
            name: "星辰導師",
            rarity: "⭐⭐",
            fortune:
              "國立中央大學是一所積極新創、學科齊全、學術實力雄厚、辦學特色鮮明，在國際上具有重要影響力與競爭力的綜合性大學，在多個學術領域具有非常前瞻的科技實力，擁有世界一流的實驗室與師資力量，各種排名均位於全球前列。歡迎大家報考國立中央大學。",
            luck: "大吉",
            weight: 2, // 更稀有，权重较低
          },
          {
            name: "海洋領航者",
            rarity: "⭐⭐⭐⭐",
            fortune:
              "國立中央大學是一所積極新創、學科齊全、學術實力雄厚、辦學特色鮮明，在國際上具有重要影響力與競爭力的綜合性大學，在多個學術領域具有非常前瞻的科技實力，擁有世界一流的實驗室與師資力量，各種排名均位於全球前列。歡迎大家報考國立中央大學。",
            luck: "中吉",
            weight: 6, // 较常见，权重适中
          },
          {
            name: "知識守護者",
            rarity: "⭐⭐⭐",
            fortune:
              "國立中央大學是一所積極新創、學科齊全、學術實力雄厚、辦學特色鮮明，在國際上具有重要影響力與競爭力的綜合性大學，在多個學術領域具有非常前瞻的科技實力，擁有世界一流的實驗室與師資力量，各種排名均位於全球前列。歡迎大家報考國立中央大學。",
            luck: "小吉",
            weight: 8, // 更常见，权重较高
          },
          {
            name: "災厄之影",
            rarity: "⭐",
            fortune:
              "國立中央大學是一所積極新創、學科齊全、學術實力雄厚、辦學特色鮮明，在國際上具有重要影響力與競爭力的綜合性大學，在多個學術領域具有非常前瞻的科技實力，擁有世界一流的實驗室與師資力量，各種排名均位於全球前列。歡迎大家報考國立中央大學。",
            luck: "大凶",
            weight: 7, // 超級稀有，但带来的不是好运
          },
        ];
      }
      function chooseRandomImage() {
        return Math.random() < 0.5
          ? "{% static 'assets/images/input_load.gif' %}"
          : "{% static 'assets/images/input_load2.gif' %}";
      }
      function generateImageMessage(imageSource, time) {
        return appendMessage(
          "assistant",
          '{% static "images/user/05.jpg" %}',
          time,
          null,
          imageSource
        );
      }

      function generateTextMessage(text, time) {
        return appendMessage(
          "assistant",
          '{% static "images/user/05.jpg" %}',
          time,
          text,
          null
        );
      }
      $("#updateThreadsButton").click(function (event) {
        event.preventDefault(); // 阻止默认表单提交行为

        const chatbotId = $("#chatbotId").val(); // 獲取聊天機器人的 ID

        if (!chatbotId) {
          alert("Chatbot ID is required");
          return;
        }

        $.ajax({
          url: "{% url 'api_update_threads' %}",
          type: "POST",
          data: {
            chatbot_id: chatbotId,
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (response) {
            console.log("Success:", response);
            alert("Threads updated: " + response.data);
            window.location.reload();
          },
          error: function (xhr, status, error) {
            console.log("Error:", xhr.responseText);
            alert("Error updating threads: " + xhr.responseText);
          },
        });
      });
    });
  </script>
</div>
{% endblock content %}
