{% extends 'layouts/base.html' %}
<!-- 繼承基礎模板 -->
{% load static %}
<!-- 加載靜態文件 -->

{% block content %}
<!-- 登入頁面開始 -->
<div id="content-page" class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <section class="sign-in-page bg-white">
          <div class="container-fluid p-0">
            <div class="row no-gutters">
              <div class="col-sm-6 align-self-center">
                <div class="sign-in-from">
                  <h1 class="mb-0">登入</h1>
                  <p>輸入帳號和密碼以訪問管理面板。</p>
                  <form class="mt-4" method="post">
                    {% csrf_token %}
                    <!-- 跨站請求偽造保護 -->
                    <div class="form-group">
                      <label for="exampleInputEmail1">帳號</label>
                      <input
                        name="username"
                        class="form-control mb-0"
                        id="exampleInputEmail1"
                        placeholder="09xxxxxxxx"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">密碼</label>
                      <a href="#" class="float-right">忘記密碼？(施工中)</a>
                      <input
                        type="password"
                        name="password"
                        class="form-control mb-0"
                        id="exampleInputPassword1"
                        placeholder="密碼"
                        required
                      />
                    </div>

                    <div class="d-inline-block w-100">
                      <div
                        class="custom-control custom-checkbox d-inline-block mt-2 pt-1"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="customCheck1"
                        />
                        <label class="custom-control-label" for="customCheck1"
                          >記住我</label
                        >
                      </div>
                      <button type="submit" class="btn btn-primary float-right">
                        登入
                      </button>
                    </div>
                    <div class="sign-info">
                      <span class="dark-color d-inline-block line-height-2"
                        >沒有帳號？<a href="{% url 'client_account_register_index' %}">註冊</a></span
                      >                
                      <ul class="iq-social-media">
                        <li>
                          <a href="#"><i class="ri-facebook-box-line"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="ri-twitter-line"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="ri-instagram-line"></i></a>
                        </li>
                      </ul>
                    </div>
                  </form>
                  {% if error %}
                  <p style="color: red">{{ error }}</p>
                  <!-- 顯示錯誤信息 -->
                  {% endif %}
                </div>
              </div>
              <div class="col-sm-6 text-center">
                <div
                  class="sign-in-detail text-white"
                  style="
                    background: url('{% static 'images/login/2.jpg' %}')
                      no-repeat 0 0;
                    background-size: cover;
                  "
                >
                  <a class="sign-in-logo mb-5" href="#"
                    ><img
                      src="{% static 'images/logo-white.png' %}"
                      class="img-fluid"
                      alt="logo"
                  /></a>
                  <div
                    class="owl-carousel"
                    data-autoplay="true"
                    data-loop="true"
                    data-nav="false"
                    data-dots="true"
                    data-items="1"
                    data-items-laptop="1"
                    data-items-tab="1"
                    data-items-mobile="1"
                    data-items-mobile-sm="1"
                    data-margin="0"
                  >
                    <div class="item">
                      <img
                        src="{% static 'images/login/1.png' %}"
                        class="img-fluid mb-4"
                        alt="logo"
                      />
                      <h4 class="mb-1 text-white">施工中</h4>
                      <p>施工中</p>
                    </div>
                    <!-- 如需更多項目，重複上述 div -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- 登入頁面結束 -->
{% endblock content %}
