{% load static %}

<!-- Required meta tags -->
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<title>QuizBot系統</title>
<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />
<!-- Bootstrap CSS -->
{% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> {% endcomment %}
<!-- Typography CSS -->
<link rel="stylesheet" href="{% static 'css/typography.css' %}" />
<!-- Style CSS -->
<!-- Responsive CSS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/backend-plugin.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/backend.css?v=1.0.0' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/remixicon/fonts/remixicon.css' %}">

<link rel="stylesheet" href="{% static 'assets/vendor/tui-calendar/tui-calendar/dist/tui-calendar.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/tui-calendar/tui-date-picker/dist/tui-date-picker.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/tui-calendar/tui-time-picker/dist/tui-time-picker.css' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/default.min.css">
<link rel="stylesheet" href = "https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css" >
