{% load static %}

<!-- Right Sidebar Panel Start-->
<div class="right-sidebar-mini">
  <div class="right-sidebar-toggle">
    <i class="ri-arrow-left-line side-left-icon"></i>
    <i class="ri-arrow-right-line side-right-icon"></i>
  </div>
  <div class="right-sidebar-panel p-0">
    <div class="iq-card shadow-none">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h6 class="card-title">Active Users</h6>
        </div>
        <div class="iq-card-header-toolbar d-flex align-items-center">
          <div class="dropdown">
            <span
              class="dropdown-toggle"
              id="dropdownMenuButton"
              data-toggle="dropdown"
            >
              <i class="ri-more-2-fill"></i>
            </span>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="dropdownMenuButton"
            >
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="iq-card-body">
        <div class="media align-items-center mb-4">
          <div class="iq-profile-avatar status-online">
            <img
              class="rounded-circle avatar-60"
              src="{% static 'images/user/01.jpg' %}"
              alt=""
            />
          </div>
          <div class="media-body ml-3">
            <h6 class="mb-0"><a href="#">Anna Sthesia</a></h6>
            <p class="mb-0">Admin</p>
          </div>
        </div>
        <div class="media align-items-center mb-4">
          <div class="iq-profile-avatar status-online">
            <img
              class="rounded-circle avatar-60"
              src="{% static 'images/user/02.jpg' %}"
              alt=""
            />
          </div>
          <div class="media-body ml-3">
            <h6 class="mb-0"><a href="#">Paul Molive</a></h6>
            <p class="mb-0">Admin</p>
          </div>
        </div>
        <div class="media align-items-center mb-4">
          <div class="iq-profile-avatar status-online">
            <img
              class="rounded-circle avatar-60"
              src="{% static 'images/user/03.jpg' %}"
              alt=""
            />
          </div>
          <div class="media-body ml-3">
            <h6 class="mb-0"><a href="#">Anna Mull</a></h6>
            <p class="mb-0">Admin</p>
          </div>
        </div>
        <div class="media align-items-center mb-4">
          <div class="iq-profile-avatar status-online">
            <img
              class="rounded-circle avatar-60"
              src="{% static 'images/user/04.jpg' %}"
              alt=""
            />
          </div>
          <div class="media-body ml-3">
            <h6 class="mb-0"><a href="#">Paige Turner</a></h6>
            <p class="mb-0">Admin</p>
          </div>
        </div>
        <div class="media align-items-center mb-4">
          <div class="iq-profile-avatar status-online">
            <img
              class="rounded-circle avatar-60"
              src="{% static 'images/user/01.jpg' %}"
              alt=""
            />
          </div>
          <div class="media-body ml-3">
            <h6 class="mb-0"><a href="#">Bob Frapples</a></h6>
            <p class="mb-0">Admin</p>
          </div>
        </div>
        <div class="media align-items-center mb-4">
          <div class="iq-profile-avatar status-online">
            <img
              class="rounded-circle avatar-60"
              src="{% static 'images/user/02.jpg' %}"
              alt=""
            />
          </div>
          <div class="media-body ml-3">
            <h6 class="mb-0"><a href="#">Barb Ackue</a></h6>
            <p class="mb-0">Admin</p>
          </div>
        </div>
        <div class="media align-items-center mb-4">
          <div class="iq-profile-avatar status-online">
            <img
              class="rounded-circle avatar-60"
              src="{% static 'images/user/03.jpg' %}"
              alt=""
            />
          </div>
          <div class="media-body ml-3">
            <h6 class="mb-0"><a href="#">Greta Life</a></h6>
            <p class="mb-0">Admin</p>
          </div>
        </div>
        <div class="media align-items-center mb-4">
          <div class="iq-profile-avatar status-away">
            <img
              class="rounded-circle avatar-60"
              src="{% static 'images/user/04.jpg' %}"
              alt=""
            />
          </div>
          <div class="media-body ml-3">
            <h6 class="mb-0"><a href="#">Ira Membrit</a></h6>
            <p class="mb-0">Admin</p>
          </div>
        </div>
        <div class="media align-items-center mb-4">
          <div class="iq-profile-avatar status-away">
            <img
              class="rounded-circle avatar-60"
              src="{% static 'images/user/01.jpg' %}"
              alt=""
            />
          </div>
          <div class="media-body ml-3">
            <h6 class="mb-0"><a href="#">Pete Sariya</a></h6>
            <p class="mb-0">Admin</p>
          </div>
        </div>
        <div class="media align-items-center">
          <div class="iq-profile-avatar">
            <img
              class="rounded-circle avatar-60"
              src="{% static 'images/user/02.jpg' %}"
              alt=""
            />
          </div>
          <div class="media-body ml-3">
            <h6 class="mb-0"><a href="#">Monty Carlo</a></h6>
            <p class="mb-0">Admin</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Right Sidebar Panel End-->
