{% load static %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

{% comment %} 專案本身會用到的JS {% endcomment %}
<script src="{% static 'js/utils/utils.js' %}"></script>
<script src="{% static 'js/utils/chatbot.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunar-javascript/1.6.12/lunar.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script>
<!-- 引入 highlight.js -->
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
<script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
{% comment %} https://6tail.cn/calendar/api.html#start.html {% endcomment %} 
{%comment %} https://github.com/6tail/lunar-javascript {% endcomment %}

{% comment %} <script src="{% static 'assets/js/backend-bundle.js' %}"></script> {% endcomment %}
<script src="{% static 'assets/js/backend-bundle.min.js' %}"></script>

<!-- Table Treeview JavaScript -->
<script src="{% static 'assets/js/table-treeview.js' %}"></script>

<!-- Chart Custom JavaScript -->
<script src="{% static 'assets/js/customizer.js' %}"></script>

<!-- Chart Custom JavaScript -->
<script async src="{% static 'assets/js/chart-custom.js' %}"></script>
<!-- Chart Custom JavaScript -->
<script async src="{% static 'assets/js/slider.js' %}"></script>

<!-- app JavaScript -->
<script src="{% static 'assets/js/app.js' %}"></script>

<script src="{% static 'assets/vendor/moment.min.js' %}"></script>
