{% load static %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

{% comment %} 專案本身會用到的JS {% endcomment %}
<script src="{% static 'js/utils/utils.js' %}"></script>
<script src="{% static 'js/utils/chatbot.js' %}"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunar-javascript/1.6.12/lunar.min.js"></script>

{% comment %} https://6tail.cn/calendar/api.html#start.html {% endcomment %}
{% comment %} https://github.com/6tail/lunar-javascript {% endcomment %}

<script src="{% static 'assets/js/backend-bundle.min.js' %}"></script>

<!-- Table Treeview JavaScript -->
<script src="{% static 'assets/js/table-treeview.js' %}"></script>

<!-- Chart Custom JavaScript -->
<script src="{% static 'assets/js/customizer.js' %}"></script>

<!-- Chart Custom JavaScript -->
<script async src="{% static 'assets/js/chart-custom.js' %}"></script>
<!-- Chart Custom JavaScript -->
<script async src="{% static 'assets/js/slider.js' %}"></script>

<!-- app JavaScript -->
<script src="{% static 'assets/js/app.js' %}"></script>

<script src="{% static 'assets/vendor/moment.min.js' %}"></script>
